<%- include('includes/head.ejs')%>
    </head>

    <body>
        <%- include('includes/nav.ejs')%>
            <main>
                <h1>Page not found💣</h1>
            </main>
    </body>
    </html>