<%- include('includes/head.ejs')%>
    </head>

    <body>
        <%- include('includes/nav.ejs')%>
            <main>
                <h1>MyProducts : </h1>
                <p>List of all products...</p>

                <%if(prods.length> 0){%>
                    <div class="grid">
                        <%for (let product of prods){%>
                            <article class="card product__item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%=product.title%>
                                    </h1>
                                </header>
                                <div class="card__img">
                                    <img src="https://sebastianraschka.com/images/books/2023-ml-qai-cover.jpg"
                                        alt="A book" width="500px">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        799฿
                                    </h2>
                                    <p class="product__description">A very interesting book for Computer Science</p>
                                </div>
                                <div class="card__actions">
                                    <button class="btn">Add to card</button>
                                </div>
                            </article>
                            <%}%>
                    </div>
                    <%} else {%>
                        <h1>Product Not found</h1>
                        <%}%>
            </main>
    </body>

    </html>